.header__banner__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  max-height: 74px;
  margin: 20px auto;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 14;
}

.header__icons__wrapper {
  max-width: 379px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
