.buysection__wrapper {
  width: 100vw;
  height: 717px;
  margin: 0 auto;
  background-color: black;
}

.buysection__grid {
  width: 100vw;
  height: 717px;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  display: grid;
}

.buysection__header {
  font-size: 62px;
  font-family: 'Archangelsk';
  max-width: 624px;
  margin: 70px 0 25px 0;
}

.buysection__subheader {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #52bedc;
  margin-bottom: 15px;
}

.buysection__left {
  grid-row: 1;
  grid-column: 1;
}

.buysection__right {
  color: white;
  grid-row: 1;
  grid-column: 2;
  margin-left: 32px;
}

.buysection__features {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.buysection__table__row {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.buysection__table__row:last-child {
  margin-bottom: 0;
}

.buysection__icon {
  margin-right: 10px;
}

.buysection__platform {
  max-width: 319px;
  max-height: 190px;
}

.buysection__platform__link {
  transition: 0.3s all ease;
  text-decoration: none;
}

.buysection__platform__link:hover {
  cursor: pointer;
  filter: drop-shadow(0 5px 15px #52bedc);
}

.buysection__platform__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.buysection__platform__header {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #52bedc;
  max-width: 255px;
  max-height: 29px;
  margin-bottom: 25px;
  margin-top: 70px;
}

.buysection__platform__row {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.buysection__platform__logo {
  margin-right: 79px;
}
